.products {
	display: flex;
	justify-content: space-between;
}
.listProducts {
	border: 1px solid #b2b2b2;
	border-radius: 8px;
	margin-top: 1.25rem;
	padding-right: 1.25rem;
}
.listProducts:nth-child(1) {
	border: 1px solid #b2b2b2;
	border-radius: 8px;
	margin-top: 3rem;
	padding-right: 1.25rem;
}
.dataProd {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.valores {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.valores > span {
	color: #0f4c81;
	font-size: 2rem;
	font-weight: 700;
}

.products .infoProducts {
	display: flex;
	gap: 15px;
}

.products .infoProducts .dataProd {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.titleProd {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.7rem;
	color: #353535;
}

.marca,
.color {
	font-size: 1rem;
	font-weight: 500;
	color: #353535;
}

.valor {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.7rem;
	color: #0f4c81;
}

.crudProd {
	display: flex;
	align-items: center;
	gap: 10px;
}
.crudProd .actionList {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style: none;
}

.iconBlue {
	border-radius: 50%;
	widht: 4rem;
	height: 4rem;
}
.iconCar:hover {
	background: url(../../assets/images/carrinho-hover.svg) no-repeat center;
}

.iconEdit:hover {
	background: url(../../assets/images/edit-hover.png) no-repeat center;
}

.btnDelete {
	background-color: #fff;
	border: none;
	cursor: pointer;
	widht: 4rem;
	height: 4rem;
	outline: none;
	padding: 0;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 25rem !important;
	height: 15rem !important;
	border-radius: 8px;
	background-color: #fff;
	border: 2px solid #0f4c81;
}

.buttonsModal {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style: none;
}

.buttonsModal button {
	background-color: red;
	border: none;
	cursor: pointer;
	width: 10rem;
	height: 2rem;
	outline: none;
	border-radius: 8px;
	color: #fff;
}

.buttonsModal .buttonModalNot {
	background-color: transparent;
	border: 1px solid #0f4c81;
	color: #000;
}
