.products {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.products .infoProducts {
	display: flex;
	gap: 15px;
}

.products .infoProducts .dataProd {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.titleProd {
	font-size: 1.5rem;
	font-weight: bold;
	/* color: red; */
}

.crudProd {
	display: flex;
	align-items: center;
	gap: 10px;
}
.crudProd .actionList {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style: none;
}

/* .iconBlue:hover {
	border-radius: 50%;
	border: 1px solid #fff;
	color: #fff;
	background-color: #0f4c81;
} */

.crudProd .actionList .btnDelete {
	background-color: #fff;
	border: none;
	cursor: pointer;
}

/* .btnDelete .iconDelete:hover {
	border-radius: 50%;
	background-color: #ff0000 !important;
	stroke: #fff !important;
} */
