.btn-add {
	text-decoration: none;
	widht: 291px;
	background-color: #0f4c81;
	cursor: pointer;
	border-radius: 0.5rem;
	color: #fff;
	border: none;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	padding: 0.65rem 1rem;
	gap: 1rem;
	font-weight: bold;
	transition: 0.5s;
}

.btn-add:hover {
	background-color: #00264b;
}
