main {
	width: 80%;
	margin: 0 auto;
}

main .intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5625rem;
}

main .intro .titleProduct {
	font-size: 2.5rem;
	font-weight: bold;
}

.btn-adc {
	border: 1px solid #000;
}
