.container {
	width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
}

.container > span {
	color: #0f4c81;
	cursor: pointer;
	font-weight: bold;
}

.container > span > .linkHome {
	color: #0f4c81;
	text-decoration: none;
}

.container > h1 {
	color: #353535;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 20px 0;
}

.container form {
	display: flex;
	flex-direction: column;
}

.container form .fieldset-border {
	border: 1px solid #ddd !important;
	padding: 0 0 0.5rem 0.5rem;
	margin: 0 0 1.5em 0;
	width: 38rem;
	height: 4rem;
	border-radius: 4px;
}

.container form .fieldset-border .legend-border {
	font-size: 1.125rem !important;
	text-align: left !important;
	padding: 0 5px;
}

input[type="text"]::placeholder {
	font-size: 1.125rem;
}
input[type="number"]::placeholder {
	font-size: 1.125rem;
}

input[type="date"] {
	color: #000;
	font-weight: medium;
}

.fieldset-border > input {
	width: 100%;
	padding: 5px 5px;
	margin-top: 5px;
	border: none !important;
	outline: none !important;
}

.fieldset-valor {
	width: 19rem !important;
}
.container-valor {
	display: flex;
	margin-left: 5px;
	align-items: center;
	gap: 3px;
}

.container-valor > input {
	width: 100%;
	padding: 10px 0;
	border: none !important;
	outline: none !important;
	margin-left: 0 !important;
}

.cifrao {
	margin: 0 5px !important;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.colorOptions {
	border: none !important;
	outline: none !important;
	padding: 10px 10px;
	width: 97%;
	padding-left: 0px;
	background: url(../../assets/images/coolicon.svg) no-repeat;
	background-position: 99%;
	background-size: 15px !important;
	appearance: none !important;
}

input[type="date"] {
	border: none !important;
	outline: none !important;
	width: 98% !important;
	background: url(../../assets/images/edit-date-icon.svg) no-repeat;
	background-position: 98%;
	background-size: 25px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.addPhoto {
	border: 2px dashed #d9d9d9 !important;
	width: 9rem;
	height: 9rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 2.25rem;
}

.addPhoto > img {
	width: 4.75rem;
	margin-top: 1.25rem;
}

.addPhoto > p {
	font-size: 0.95rem;
	font-weight: bold;
	color: #d9d9d9;
}

.addPhoto > input {
	width: 100%;
	cursor: pointer;
	height: 100%;
	border: none !important;
	outline: none !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.btnAddProduct {
	background-color: #0f4c81;
	border-radius: 4px;
	width: 19rem;
	text-transform: uppercase;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 1rem;
	font-weight: bold;
	transition: background-color 0.5s;
}

.btnAddProduct:hover {
	background-color: #00264b;
}
