.container {
	width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
}

.container > span {
	color: #0f4c81;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.container > span > .linkHome {
	color: #0f4c81;
	text-decoration: none;
}

.container > h1 {
	color: #353535;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 20px 0;
}

.container form {
	display: flex;
	flex-direction: column;
}

.container form .fieldset-border {
	border: 1px solid #ddd !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	width: 38rem;
	border-radius: 4px;
}

.container form .fieldset-border .legend-border {
	font-size: 1.2em !important;
	text-align: left !important;
	padding: 0 5px;
}

.fieldset-border > input {
	width: 100%;
	padding: 5px 5px;
	border: none !important;
	outline: none !important;
}

.fieldset-valor {
	width: 19rem !important;
}
.container-valor {
	display: flex;
	margin-left: 5px;
}

.container-valor > input {
	width: 100%;
	border: none !important;
	outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.colorOptions {
	width: 100%;
	border: none !important;
	outline: none !important;
}

.addPhoto {
	border: 2px dashed #d9d9d9 !important;
	width: 9rem;
	height: 8rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 2.25rem;
}

.addPhoto > img {
	width: 4.75rem;
	margin-top: 1.25rem;
}

.addPhoto > p {
	font-size: 0.95rem;
	font-weight: bold;
	color: #d9d9d9;
}

.addPhoto > input {
	width: 100%;
	cursor: pointer;
	height: 100%;
	border: none !important;
	outline: none !important;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.btnAddProduct {
	background-color: #0f4c81;
	border-radius: 4px;
	width: 19rem;
	text-transform: uppercase;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 1rem;
	font-weight: bold;
	transition: background-color 0.5s;
}

.btnAddProduct:hover {
	background-color: #00264b;
}
