main {
	width: 80%;
	padding-top: 2rem;
}
main .intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

main .pathRoute {
	color: #0f4c81;
	font-weight: 500;
	font-size: 1rem;
}

main .intro .titleProduct {
	font-size: 2.5rem;
	font-weight: bold;
}

.resumeTitle {
	margin-right: 1.5rem;
}
main .secaoCarrinhoFinalizar {
	display: flex;
	gap: 2.8125rem;
	padding-top: 2.25rem;
}

main .secaoCarPro {
	border: 2px solid #b2b2b2;
	width: 43rem;
	border-radius: 7px;
}
main .secaoCarPro .divider {
	width: 95%;
	margin: 0 auto;
}

main .infoCartProd {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
}

main .quantValor .quantidade {
	display: flex;
	gap: 1.25rem;
	align-items: center;
	width: 100%;
	font-size: 1.25rem;
	font-weight: bold;
	color: #353535;
}
.quantValor .quantidade .counter {
	display: flex;
	width: 10rem;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.counter .displayCounter {
	width: 2.875rem;
	height: 2.875rem;
	border: 2px solid #b2b2b2;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}
.valor {
	width: 15vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.valor > span {
	font-size: 1.5rem;
	font-weight: bold;
	color: #353535;
}
.counter button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #353535;
	background-color: #fff;
	border: 1px solid #b2b2b2;
}

main .carProduct {
	display: flex;
	gap: 25px;
}

main .carProduct .infoProduct {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 5px;
}

main .secaoCarPro .quantValor {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.875rem 1.875rem;
}

.infoFrete {
	gap: 0.25rem;
	display: flex;
	align-items: center;
}

.infoIcon {
	cursor: pointer;
	margin-left: 10px;
}
.checkPag {
	border: 1px solid #039500;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.75rem;
	font-weight: 700;
	padding: 1rem;
	color: #039500;
	width: 24.0625rem;
	position: absolute;
	right: 0;
	left: 830px;
	margin-top: 1rem;
	opacity: 0;
}
main .resumoPedido {
	border-radius: 7px;
	background-color: #f5f5f5;
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 100%;
}

.divider {
	border: 1px solid #d9d9d9;
}

main .resumoPedido .subtotal {
	width: 20.3125rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.375rem;
	font-weight: 700;
}

.pagar {
	background: #0f4c81;
	border: none;
	width: 21rem;
	margin: 0 auto;
	padding: 15px 50px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-top: 2rem;
}
