main {
	width: 80%;
	padding-top: 2rem;
}
main .intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

main .intro .titleProduct {
	font-size: 2.5rem;
	font-weight: bold;
}

main .secaoCarrinhoFinalizar {
	display: flex;
	gap: 2.8125rem;
	padding-top: 2.25rem;
}

main .secaoCarPro {
	border: 2px solid #b2b2b2;
	width: 43rem;
	border-radius: 4px;
}
main .secaoCarPro .divider {
	width: 95%;
	margin: 0 auto;
}

main .quantValor .quantidade {
	display: flex;
	gap: 1.25rem;
	align-items: center;
}
.quantValor .quantidade .counter {
	display: flex;
	width: 8rem;
	justify-content: space-between;
}

.counter .displayCounter {
	width: 2.15rem;
	height: 2.15rem;
	border: 2px solid #b2b2b2;
	font-size: 1rem;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.counter button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-size: 1.5rem;
	color: #ddd;
	background-color: #fff;
	border: 1px solid #b2b2b2;
}

main .carProduct {
	display: flex;
	gap: 25px;
}

main .carProduct .infoProduct {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

main .secaoCarPro .quantValor {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 1.875rem 1.875rem;
}

main .resumoPedido {
	border-radius: 4px;
	background-color: #b2b2b2;
	padding: 15px 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

main .resumoPedido .subtotal {
	width: 20.3125rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.8rem;
}

.pagar {
	background: #0f4c81;
	border: none;
	width: 21rem;
	margin: 0 auto;
	padding: 15px 50px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
